.list-wrapper{
    background-color: #F0EFF2;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 54px);
    margin: 0 auto;
    width: 800px;
    padding-bottom: 80px;
}

h2 {
    margin-top: 64px;
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    margin-right: auto;
    margin-bottom: 40px;
}

h2::before {
    content: "";
    width: 5px;
    height: 30px;
    background-color: #000000;
    border-radius: 2px;
}

.staff-table{
    margin-top: 40px;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    table-layout: fixed;
}

.staff-table th {
    height: 36px;
    color: #737373;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 3px solid #F0EFF2;
    text-align: center;
}

.staff-table td {
    height: 38px;
    color: #737373;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    border-bottom: 2px solid #F0EFF2;
    text-align: center;
}

.staff-table td:first-child,
.staff-table th:first-child {
    width: 30%;
}

.staff-table th:nth-child(2),
.staff-table td:nth-child(2) {
    width: 40%;
}

.staff-table th:nth-child(3),
.staff-table td:nth-child(3) {
    width: 30%;
}

.work-detail {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
