body {
    min-width: 1400px;
    max-width: 1540px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #000000;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo__img {
    border-style: none;
    width: 250px;
    align-items: center;
    margin-left: 16px;
}

.nav-staff {
    margin-right: 32px;
}

ul {
    display: flex;
    gap: 32px;
}

.header-nav,
.header-nav:visited,
.header-nav:hover,
.header-nav:active {
    color: #ffffff;
    text-decoration: none;
}

.logout-btn {
    all: unset;
    font-size: 16px;
    color: #ffffff;
    margin-right: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    margin: 8px 0 0;
    font-size: 12px;
    font-weight: normal;
}

.flash-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 240px;
    max-width: 320px;
    background: #3b8ed8;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.95rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.3s ease-out forwards, fadeOut 0.5s ease 3s forwards;
    z-index: 10000;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.flash-success {
    background-color: #3b8ed8;
}

.flash-error {
    background-color: #f27474;
    color: #fff;
}
