.attendance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 54px);
    background-color: #f0eff2;
}

.work-status {
    background-color: #c8c8c8;
    color: #696969;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 50px;
    padding: 4px 12px;
    margin-bottom: 20px;
}

.attendance-date {
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.attendance-time {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 56px;
}

.attendance-button {
    width: 160px;
    height: 56px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attendance-button--work-start,
.attendance-button--work-out {
    color: #ffffff;
    background-color: #000000;
}

.button-wrapper {
    display: flex;
    gap: 80px;
}

.attendance-button--break-start,
.attendance-button--break-end {
    background-color: #ffffff;
}

.finish-message {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}
