.detail-wrapper {
    background-color: #f0eff2;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 54px);
    margin: 0 auto;
    width: 800px;
    padding-bottom: 80px;
}

h2 {
    margin-top: 64px;
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    margin-right: auto;
    margin-bottom: 40px;
}

h2::before {
    content: "";
    width: 5px;
    height: 30px;
    background-color: #000000;
    border-radius: 2px;
}

.work-form,
.application-table {
    width: 100%;
}

.edit-table,
.application-table {
    background-color: #ffffff;
    border-radius: 8px;
}

.row {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #f0eff2;
    height: 86px;
    align-items: center;
}

.label {
    width: 35%;
    font-weight: bold;
    font-size: 16px;
    color: #737373;
    letter-spacing: 2px;
    margin-left: 56px;
}

.value {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    width: 320px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value-space {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
}

input {
    border: 1px solid #f0eff2;
    border-radius: 2px;
    font-family: "Inter";
    letter-spacing: 1px;
    font-weight: bold;
    height: 30px;
    width: 88px;
    text-align: center;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

input[type="time"] {
    -webkit-appearance: none;
    appearance: none;
}

.row:has(textarea) {
    height: 120px;
}

textarea {
    border: 1px solid #f0eff2;
    border-radius: 2px;
    width: 320px;
    height: 64px;
    font-family: "Inter";
}

.add-break-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f0eff2;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.add-break-btn:hover {
    opacity: 1.5;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modify-button {
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    height: 48px;
    width: 120px;
    display: block;
    margin-top: 32px;
}

.approved-button {
    background-color: #696969;
    color: #ffffff;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    height: 48px;
    width: 120px;
    display: block;
    margin-top: 32px;
    letter-spacing: 2px;
}

/* 時間入力の時計マーク消す */
.input__time {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.input__time::-webkit-calendar-picker-indicator,
.input__time::-webkit-clear-button,
.input__time::-webkit-inner-spin-button {
    display: none !important;
}

.message-container {
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.readonly-message {
    color: #ff0000;
}
