.index-wrapper{
    background-color: #F0EFF2;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 54px);
    margin: 0 auto;
    width: 800px;
    padding-bottom: 80px;
}

.index-container__admin {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 54px);
    margin: 0 auto;
    width: 800px;
    padding-bottom: 80px;
}

h2 {
    margin-top: 64px;
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    margin-right: auto;
    margin-bottom: 40px;
}

h2::before {
    content: "";
    width: 5px;
    height: 30px;
    background-color: #000000;
    border-radius: 2px;
}

.month-selector,
.date-selector {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 40px;
}

.img__arrow{
    width: 20px;
    height: 20px;
}

.img__arrow.left{
    transform: rotate(180deg);
    margin-right: 8px;
}
.img__arrow.right {
    margin-left: 8px;
}

.img__calender {
    width: 24px;
    height: 24px;
}

.calender-btn {
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.current-month,
.today {
    font-weight: bold;
    font-size: 16px;
}

.attendance-table {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    table-layout: fixed;
}

th {
    height: 36px;
    color: #737373;
    font-weight: bold;
    border-bottom: 3px solid #F0EFF2;
    text-align: center;
}

td {
    height: 38px;
    color: #737373;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px solid #F0EFF2;
    text-align: center;
}

.attendance-table th:nth-child(1),
.attendance-table td:nth-child(1) {
    width: 120px;
}

.attendance-table th:nth-child(2),
.attendance-table td:nth-child(2),
.attendance-table th:nth-child(3),
.attendance-table td:nth-child(3),
.attendance-table th:nth-child(4),
.attendance-table td:nth-child(4),
.attendance-table th:nth-child(5),
.attendance-table td:nth-child(5) {
    width: 80px;
}

.attendance-table th:nth-child(6),
.attendance-table td:nth-child(6) {
    width: 60px;
    text-align: center;
}

.work-detail {
    text-decoration: none;
    color: #000000;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.csv-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 22px;
    letter-spacing: 3px;
    border-radius: 4px;
    height: 48px;
    width: 180px;
    margin-top: 32px;
}
